body{
  background-color: gray;
}


/* .kity {
  padding-top: 60px;
} */

/* #catimage{
  width:600px;
} */

.bandeau {
  width: auto;
  height: 60px;
  background-color: green;
  margin-bottom: 50px;


}
